# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure scoreboard

# Our resources
start help
start guns
start text
start nui
start speedometer
start streetLabel
#start cybertruck
#start mods
